@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
}

nav {

    font-family: 'Nunito', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 60px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 60vh;
    background-color: rgb(97, 94, 94);
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 33px;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;

}

.bottom {
    position: sticky;
    height: 105px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    font-family: 'Varela Round', sans-serif;
}

.icons {
    margin-bottom: 14px;
}

.icons i {
    padding: 0 12px;
    cursor: pointer;
    font-size: 1.7rem;
}

#myProgressBar {
    width: 40vw;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 50px;
}

.songList h1 {
    padding-bottom: 25px;
}

.playlist {
    padding: 5px 13px;
    border: 2px solid black;
    border-radius: 15px;
    background: black;
    opacity: 0.4;
}

.playlist:hover {
    font-size: 1.1rem;
    background: rgb(87, 83, 83);
    opacity: 0.5;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem:hover {
    background: rgb(87, 83, 83);
}

.songItem img {
    width: 42px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 7vw;
    display: flex;
    align-items: center;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.masterSongName{
    font-size: 0.7rem;
}